<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="..\Logging\internal-logger.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>

		<target xsi:type="File" name="allfile" fileName="..\..\..\..\Logging\GeoLog-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="ownFile" fileName="..\..\..\..\Logging\GeoLog-own-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

		<target name="console" xsi:type="Console" layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<target name="firstMail" xsi:type="Mail"
				smtpServer="smtp.mail.ru"
				smtpPort="587"
				smtpAuthentication="Basic"
				smtpUsername="zhurnal.kuratora@mail.ru"
				smtpPassword="wuxREz6iDKYuegwCQuEm"
				enableSsl="true"
				from="zhurnal.kuratora@mail.ru"
				to="shvyrkalovm@mail.ru"
				subject="Сервер авторизации упал"
				body="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
				html="false" />

	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		
		<logger name="*" minlevel="Trace" writeTo="console" />

		<logger name="Microsoft.*" minlevel="Trace" final="true" />

		<logger name="*" minlevel="Info" writeTo="ownFile" />
		
		<logger name="*" level="Error" writeTo="firstMail" />
	</rules>
</nlog>